body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 20px;
}

.board{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 3fr 1fr 1fr;
}

.board label {
  justify-self: end;
}

.board .pagination {
  justify-self: center;
}

.table-container {
  display: grid;
}

.board .select {
  margin: 10px 5px 10px 0;
}

.board button {
  margin: 0 3px;
}

