body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 20px;
}

/*기본 스타일*/
.board{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  align-items: center;
  max-height: 600px;
}

.board label {
  justify-self: end;
}

.board .pagination {
  justify-self: center;
}

/*테이블 스타일*/
.table-container table{
  display: grid;
  align-items: center;
  border: 1px solid #ccc;
}

.table-container thead{
  padding: 5px 0;
}

.table-container tbody{
  text-align: center;
  vertical-align: middle
}

.table-container td{
  border-top: 1px solid #ccc;
}

/*검색 결과가 있을때*/
.table-container .result, .table-container thead tr{
  display: grid;
  grid-template-columns: repeat(3, 1fr) 3fr 1fr;
}

/*검색 결과가 없을때*/
.table-container .no-result{
  display:grid;
}

/*검색창 스타일*/
.board .select {
  margin: 10px 5px 10px 0;
}

.board button {
  margin: 0 3px;
}

/*pagination 스타일*/
.pagination-link{
  text-decoration: none;
  padding: 2px 4px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  color: #333;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  color: #ccc
}

.pagination-link.active {
  background-color: #ccc;
}